@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Monoton&family=Noto+Sans+KR:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Handlee&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  
}

@mixin phone {
  @media (max-width: 767px) {
      @content;
  }
}

.contact {
  // padding-right: 40px;
  
  @include phone {
    padding: 0px;
  }

}

.contact-nav {
  // padding-right: 40px;

  @include phone {
    padding: 0px;
  }
}


li {
  list-style: none;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  color: black;

  @include phone {
    margin: 3.5px;
  }

 
}

li:after {
  display: block;
  content: '';
  color: white;
  // margin-bottom: 5px;
  border-bottom: 1.5px solid white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

li:hover:after{
  color: white;
  transform: scaleX(1);
}

li:hover {
  color: white;
}

link {
  list-style: none;
  margin: 10px;
}

.nav-bar {
  display: flex;
  z-index:6;
  font-size: 18px;
  font-weight: 700;
  height: 56px;
  align-items: center;
  padding-left:0px;
  margin:0px;
  width: 100vw;
  justify-content: space-evenly;
  background-color: #b4d4d6;
  position: fixed;

    .logo {
      height: 40px;
    }
 

  @include phone {
    font-size: 15px;
    justify-content: space-evenly;

  }

  .nav-links-mid {
    display: flex;
    // font-size: 18px;
    height: 100%;
    align-items: center;
  }

  .logo{
    width: 60px;
    height: 60px;
    opacity: 1;
    // color: black;
  }

  .logo:hover {
    cursor: pointer;
  }

  .soc-links{
    display: flex;

    .nav-logo-link {
      width: 30px;
      padding: 12px;
      transition: all .2s ease-in-out; 

      @include phone {
        width: 18px;
        padding: 4px;
      }
    }

    .nav-logo-link:hover {
      transform: scale(1.1); 
      cursor: pointer;
    }
  }
}

.name{
  font-family: 'Monoton';
  font-size: 40px;

  @include phone {
    text-align: center;
  }
}

.positions {
  font-size: 20px;
}

.scroll-to-about{
  position: relative;
  top: 110px;
}

.about-container-main {
  height: 600px;

  @include phone {
    height: 500px;
  }
}

.positions {
  color: white;
  padding-bottom:20px;
}
