@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Monoton&family=Noto+Sans+KR:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0px;
  font-family: 'Noto Sans KR';
}

.contact {
  margin-right: 40px;
}

li {
  list-style: none;
  margin: 10px;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

link {
  list-style: none;
  margin: 10px;
  font-size: 14px;
  transition: 0.3s;
}

li:hover{
  color: white;
}

link:hover{
  color: white;
}

.nav-bar {
  display: flex;
  z-index:2;
  /* float: end; */
  height: 45px;
  align-items: center;
  padding-left:0px;
  margin:0px;
  width: 100vw;
  justify-content: flex-end;
  background-color: #FF0800;
  position: fixed;
}

.name{
  font-family: 'Monoton';
  font-size: 40px;
}

.positions {
  font-size: 20px;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FF0800;
  height: 600px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 80px;

}

.scroll-to-about{
  position: relative;
  top: 110px;
}

.about-container-main {
  display: flex;
  /* background-image: url('./assets/car.jpg'); */

}

.about-container-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container-main {
  height: 600px;
}

.about-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  height: 600px;
  justify-content: center;
}

.about-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Pacifico';
}

.black-box {
  width: 200px;
  height: 300px;
  background-color: #191919;
  margin-left: 60px;
}

.car-image {
  object-fit: cover;
  width: 200px;
  height: 300px;
  z-index: 1;
  position: relative;
  right: 60px;
  top: 40px;

}

.about-me {
  font-size : 16px;
  line-height: 40px;
  padding-bottom: 30px;
}

.name {
  color: white;
}

.positions {
  color: white;
  padding-bottom:20px;
}

.projects-title {

  font-family: 'Pacifico';
  color: white;
  margin-top: 40px;
  margin-right:50px;
  padding-left: 80px;

}

.projects-container-main {
  background-image: url(./assets/cool-sky.jpg);
  background-size: 100vw;
  background-color: #95C8D8;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  /* padding-left: 80px; */
}

/* .projects-container {
  margin: 24px;
  display: flex;
  width: 800px;
  margin-top: 100px;
  margin-left: 100px;
} */

.projects-container {
  position: relative;
  /* width: 100vw; */
  display: flex;
  padding:24px;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  border-radius: 4px;
}

.projects-container .box {
  margin:20px;
  margin-top:30px;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  transition: 0.5s;
}

.projects-container .box:hover {
  z-index: 1;
  transform: scale(1.10);
  box-shadow: 0 25px 40px rgba(0,0,0,.5);
}

.projects-container .box .imgbox:before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1;
  /* background: linear-gradient(180deg, #696969, #696969); */
  background: linear-gradient(180deg, #303030, #303030);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.caption {
  padding:0;
}

.projects-container .box:hover .imgbox:before {
  opacity: 1;
}

.projects-container .box .imgbox {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}

.projects-container .box .imgbox img {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  object-fit:cover;
}

.projects-container .box .caption {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 15px; */
  /* padding-top:40px; */
  flex-direction: column;
}

.projects-container .box .caption .caption-h {
  color: #fff;
  transition: 0.5s;
  /* text-transform: uppercase; */
  margin-bottom:5px;
  font-size:20px;
  /* font-style: italic; */
  transform: translateY(200px);
}

.projects-container .box:hover .caption .caption-h {
  transform: translateY(0);
  transition-delay: 0.6s;
}

.projects-container .box .caption .caption-p {
  color: #fff;
  transform: translateY(200px);
  transition: 0.5s;
  font-size: 14px;
  font-style: bold;
}

.projects-container .box:hover .caption .caption-p {
  transform: translateY(0);
  transition-delay: 0.8s;
}

/* .projects-img {
  object-fit: cover;
  border-radius: 2px;
  height:100px;
  width: 100px;
  margin: 24px;
} */

.App {
  text-align: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

